<p id="notice"><%= notice %></p>

<h1><%= @beer_club.name %></h1>
Founded <%= @beer_club.founded %>
<br>
<%= @beer_club.city %>

<h2>Members</h2>
<% if @beer_club.users.empty? %>
	Beer club has no members.
<% else %>
	<ul>
  		<% @beer_club.users.each do |user| %>
				<li> <%= link_to user.username, user %> </li>
			<% end %>
	</ul>
<% end %>
<br>
<% if current_user %>
	<%= link_to 'Edit', edit_beer_club_path(@beer_club) %>
	<br>
	<%= link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
