<p id="notice"><%= notice %></p>

<h2><%= @user.username%></h2>

<% if @user.ratings.empty?%>
	Has not rated beers.
<% else%>
	<p>Has made <%= pluralize(@user.ratings.count, 'rating') %>,
 	average <%= round(@user.average_rating) %> </p>
<% end %>

<% if @user.beer_clubs.empty? %>
  Is not a member in any beer club.
<% else %>
  Member of
    <% @user.beer_clubs.each do |beerclub| %>
        <%= link_to beerclub.name, beerclub %>
    <% end %>
<% end %>
  
<% if @user.ratings.any? %>
    <p>Favorite beer: <%= @user.favorite_beer %> </p>
    <p>Favorite brewery: <%= @user.favorite_brewery.name %> </p>
    <p>Preferred style: <%= @user.favorite_style.name %> </p>
<% end %>

<h3>ratings</h3>
<ul>
	<% @user.ratings.each do |rating| %>
		<li>
			<%= rating.beer.name %> <%= rating.score %>
			<% if @user == current_user%>
				<%= link_to 'delete', rating, :method => :delete, data: {confirm: 'Are you sure?'} %>
			<% end %>
		</li>
	<% end %>
</ul>
<br>

<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %>
	<%= link_to 'Destroy', user_path, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
